<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/js/sw.js', { scope: '/js/' })
          .then(function(registration) {
              //console.log('Service Worker Registered');
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
              //console.log('Service Worker Ready');
          });
  }
</script>
<script async src="https://ackeeus.netlify.app/tracker.js" data-ackee-server="https://ackeeus.netlify.app" data-ackee-domain-id="c45f7e7c-3c13-48db-810f-19585047c2ff">

</script>
