<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/js/sw.js', { scope: '/js/' })
          .then(function(registration) {
              //console.log('Service Worker Registered');
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
              //console.log('Service Worker Ready');
          });
  }
</script>
<!--  -->ackee intregation
<script  src="https://ackeeus.netlify.app/tracker.js"></script>

<script>
	ackeeTracker.create('https://ackeeus.netlify.app').record('eafdf84f-e5d3-4b52-98ef-885203008628')
</script>
